@model IEnumerable<GestionalePMunicMVC.Models.Anagrafica>

@{
    ViewBag.Title = "_ListAnagraficheTrasgressori";
}

<h2>Anagrafiche Trasgressori</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdAnagrafica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Citta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CF)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdAnagrafica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indirizzo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Citta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CF)
        </td>
        <td>
            @Html.ActionLink("Details", "DettagliAnagrafica", new { id = item.IdAnagrafica })
        </td>
    </tr>
}

</table>
